body
{
    background-color: #e3ecf0;
}
.contact
{
    background-color: #fff;
}
.line
{
    width: 100%;
    height: 4px;
    background-color: #16c1f5;
}
.styl
{
    width: 80%;
    margin-bottom: 20px;
}
.button.blue {
    background: #16c1f5 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: inline-block;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
    width: 25%;
    font-size: 1.29rem;
}